include HISTORY.rst LICENSE README.rst tox.ini
graft docx/templates
graft features
graft tests
graft docs
prune docs/.build
global-exclude .DS_Store
global-exclude __pycache__
global-exclude *.py[co]
